li {
	background-image:url(/static/images/skin/ie6/bullet.gif);
	background-position:0px 4px;
}

#skinRow1 {
	background-image:url(/static/images/skin/ie6/row1.gif);
}

	#skinMenu .skinTabOn {
		background-image:url(/static/images/skin/ie6/tab.gif);
	}
	
		#skinMenu .skinTabOn .skinLeft {
			background-image:url(/static/images/skin/ie6/tab.gif);
		}
	
		#skinMenu .skinTabOn .skinRight {
			background-image:url(/static/images/skin/ie6/tab.gif);
		}
		
	#skinMenu .skinTabOff {
		background-image:url(/static/images/skin/ie6/tab.gif);
	}
		
		#skinMenu .skinTabOff .skinLeft {
			background-image:url(/static/images/skin/ie6/tab.gif);
		}
	
		#skinMenu .skinTabOff .skinRight {
			background-image:url(/static/images/skin/ie6/tab.gif);
		}

#skinRow2 {
	background-image:url(/static/images/skin/ie6/row2.gif);
}

	#skinRow2fix {
		background-image:url(/static/images/skin/ie6/row2-cog-edge.gif);
	}

	.skinCloseIconOff .skinErrorContent {
		background-image:url(/static/images/skin/ie6/error-close-button-off.gif);
	}
	
	.skinCloseIconOn .skinErrorContent {
		background-image:url(/static/images/skin/ie6/error-close-button-on.gif);
	}
	
	.skinErrorRow2 {
		background-image:url(/static/images/skin/ie6/error-icon.gif);
	}
	
	.skinErrorTopLeft {
		background-image:url(/static/images/skin/ie6/error-tl.gif);
	}
	
	.skinErrorTopRight {
		background-image:url(/static/images/skin/ie6/error-tr.gif);
	}
	
	.skinErrorBottomLeft {
		background-image:url(/static/images/skin/ie6/error-bl.gif);
	}
	
	.skinErrorBottomRight {
		background-image:url(/static/images/skin/ie6/error-br.gif);
	}

	.skinCloseIconOff .skinSuccessContent {
		background-image:url(/static/images/skin/ie6/success-close-button-off.gif);
	}
	
	.skinCloseIconOn .skinSuccessContent {
		background-image:url(/static/images/skin/ie6/success-close-button-on.gif);
	}

	.skinSuccessRow2 {
		background-image:url(/static/images/skin/ie6/success-icon.gif);
	}

	.skinSuccessTopLeft {
		background-image:url(/static/images/skin/ie6/success-tl.gif);
	}
	
	.skinSuccessTopRight {
		background-image:url(/static/images/skin/ie6/success-tr.gif);
	}
	
	.skinSuccessBottomLeft {
		background-image:url(/static/images/skin/ie6/success-bl.gif);
	}
	
	.skinSuccessBottomRight {
		background-image:url(/static/images/skin/ie6/success-br.gif);
	}
	
	.skinRoundedTopLeft {
		background-image:url(/static/images/skin/ie6/box-tl.gif);
	}
	
	.skinRoundedTopRight {
		background-image:url(/static/images/skin/ie6/box-tr.gif);
	}
	
	.skinRoundedBottomLeft {
		background-image:url(/static/images/skin/ie6/box-bl.gif);
	}
	
	.skinRoundedBottomRight {
		background-image:url(/static/images/skin/ie6/box-br.gif);
	}

#skinRow3 {
	background-image:url(/static/images/skin/ie6/row3.gif);
}