.*
!.gitignore
!.travis.yml
Makefile*
!Makefile.PL
META.yml
MYMETA.*
blib
build
/inc
pm_to_blib
#MANIFEST*
!MANIFEST.SKIP
maximus.conf
*.ttc
*.log
/root/static/assets
/root/static/archives
*.bak
!.perltidyrc
*~
*.sqlite
*.orig
!/puppet/*
/script/init.d/*
/html/*
