[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = git://github.com/example42/puppet-mysql.git
[submodule "puppet/modules/puppi"]
	path = puppet/modules/puppi
	url = git://github.com/example42/puppi.git
[submodule "puppet/modules/rabbitmq"]
	path = puppet/modules/rabbitmq
	url = git://github.com/puppetlabs/puppetlabs-rabbitmq.git
