<h2>Statistics</h2>
<ul>
    <li>hosting [% c.model('DB::Modscope').search_rs.count %] modscopes</li>
    <li>containing [% c.model('DB::Module').search_rs.count %] modules</li>
    <li>with a combined total of [% c.model('DB::ModuleVersion').search_rs.count %] versions</li>
    <li>with a combined total of [% c.model('DB::ModuleDependency').search_rs.count %] dependencies</li>
    <li>provided by [% c.model('DB::User').search_rs.count %] module authors</li>
</ul>

