<p>Dear <b>[% user.username | html %]</b>,<br>
<br>
Your password has been reset to <b>[% password %]</b>. Please change it the next
time when you login.</p>
<p>Regards,<br>
<b>The [% c.config.name | html %] team</b></p>