[% f = form.field(field) %]
<dt class="skinFieldName"><label for="[% f.id %]">[% f.label %]</label></dt>
<dd class="skinFieldInput"><input type="[% input_type or 'text' %]" name="[% f.html_name %]" id="[% f.id %]" value="[% f.fif | html %]" class="[% f.css_class %]" [% 'readonly="readonly"' IF f.readonly %] /></dd>
[% IF f.has_errors %]
    [% FOR error IN f.errors %]
        <dd class="error">[% error %]</dd>
    [% END %]
[% END %]
