<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>[% c.config.name %] - BlitzMax Module Manager</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="robots" content="index,follow" /> 
	<meta name="description" content="" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<script type="text/javascript" src="/static/js/mootools-1.2.4-core.js"></script>
	<script type="text/javascript" src="/static/js/mootools-1.2.4.4-more.js"></script>
	<link rel="stylesheet" href="/static/css/site.css" type="text/css" media="all" />
</head>
<body>
<div id="wrap">
	<div id="header"><h1><a href="[% c.uri_for('/') %]">[% c.config.name %]</a></h1><h2>the BlitzMax Module Manager</h2></div>
	<div id="menu">
		<a href="[% c.uri_for('/') %]">Home</a>
		<a href="#">Modules</a>
		[% IF c.user_exists %]
			<a href="#">My Modules</a>
			<a href="[% c.uri_for('/account') %]">My Account</a>
			<a href="[% c.uri_for('/account/logout') %]">Logout</a>
		[% ELSE %]
			<a href="[% c.uri_for('/account/signup') %]">Sign-up</a>
			<a href="[% c.uri_for('/account/login') %]">Login</a>
		[% END %]
	</div>
	<div id="content">[% content %]</div>
	<div id="footer">
		[% USE date %]
		Design by <a href="http://www.minimalistic-design.net">Minimalistic Design</a> | Copyright [% date.format(date.now, '%Y') %]  Christiaan Kras
	</div> 
</div>
</body>
</html>