<h2>Welcome [% c.user.username %]!</h2>
<p>Currently [% c.config.name %] is in an early state of development. This
means not all functionality exists yet, such as configuring your account.</p>

<p>But not to worry, it will be possible eventually!</p>