<p class="center"><strong><em>[% error_msg %]</em></strong></p>
<form method="post" action="[% c.uri_for('/account/login') %]">
	<p><strong>Username:</strong> <input type="text" name="username" size="40" /><br />
	<strong>Password:</strong> <input type="password" name="password" size="40" /><br /></p>
	<p class="center"><input type="submit" name="submit" value="Login" /></p>
</form>